<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Postovi</title>
</head>
<body>
<h1>List of Posts</h1>

<!-- Loop through the posts and display them -->
<table>
    <thead>
    <tr>
        <th>Autor</th>
        <th>Content</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="post : ${posts}">
        <td><span th:text="${post.korisnik != null ? post.korisnik.username : 'Unknown User'}"></span></td>
        <td th:text="${post.content}"></td>
        <td th:text="${post.createdAt}"></td>
    </tr>
    </tbody>
</table>
<div>
    <a href="/posts/new">
        <button>Create New Post</button>
    </a>
</div>

</body>
</html>
