<form action="/posts/new" method="post">
    <label for="username">Select User:</label>
    <select id="username" name="userId" required>
        <option value="" disabled selected>Select a user</option>
        <th:block th:each="user : ${users}">
            <option th:value="${user.id}" th:text="${user.username}"></option>
        </th:block>
    </select>
    <label for="comic">Select Comic:</label>
    <select id="comic" name="comicId" required>
        <option value="" disabled selected>Select a comic</option>
        <th:block th:each="comic : ${comics}">
            <option th:value="${comic.id}" th:text="${comic.title}"></option>
        </th:block>
    </select>

    <label for="content">Post Content:</label>
    <textarea id="content" name="content" required></textarea>

    <button type="submit">Submit</button>
</form>
